<template>
  <p :class="`w-48 my-2 text-center rounded-lg font-bold ${tagStyle.class}`">
    <font-awesome-icon :icon="tagStyle.icon" />
    {{ category }}
  </p>
</template>

<script lang="ts">
import { defineComponent, computed } from "vue";

export default defineComponent({
  name: "ProductCategoryTag",
  props: ["category"],
  setup(props) {
    const tagStyle = computed(() => {
      if (props.category === `men's clothing`)
        return { class: "bg-blue-300", icon: "male" };
      if (props.category === `women's clothing`)
        return { class: "bg-red-300", icon: "female" };
      if (props.category === `jewelery`)
        return { class: "bg-yellow-300", icon: "diamond" };

      return { class: "bg-slate-200", icon: "television" };
    });

    return {
      tagStyle,
    };
  },
});
</script>
