<template>
  <form @submit="handleSubmit" class="px-8 py-4 space-y-4">
    <div class="col-span-full">
      <label
        for="title"
        class="block text-lg font-medium leading-6 text-gray-900"
        >Title Product</label
      >
      <div class="mt-2">
        <input
          required
          v-model="title"
          type="text"
          name="title"
          id="title"
          class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 placeholder:text-gray-400"
        />
      </div>
    </div>
    <div class="col-span-full">
      <label
        for="price"
        class="block text-lg font-medium leading-6 text-gray-900"
        >Price Product</label
      >
      <div class="mt-2">
        <input
          required
          min="1"
          v-model="price"
          type="number"
          name="price"
          id="price"
          class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 placeholder:text-gray-400"
        />
      </div>
    </div>
    <div class="col-span-full">
      <label
        for="category"
        class="block text-lg font-medium leading-6 text-gray-900"
        >Category</label
      >
      <div class="mt-2">
        <select
          required
          v-model="category"
          id="category"
          name="category"
          class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        >
          <option value="men's clothing">Men's Clothing</option>
          <option value="women's clothing">Women's Clothing</option>
          <option value="electronics">Electronics</option>
          <option value="jewelery">Jewelery</option>
        </select>
      </div>
    </div>
    <div class="col-span-full">
      <label
        for="description"
        class="block text-lg font-medium leading-6 text-gray-900"
        >Description</label
      >
      <div class="mt-2">
        <textarea
          required
          v-model="description"
          id="description"
          name="description"
          rows="3"
          class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 placeholder:text-gray-400"
        ></textarea>
      </div>
    </div>
    <div class="col-span-full">
      <label
        for="image"
        class="block text-lg font-medium leading-6 text-gray-900"
        >Product Image</label
      >
      <div
        class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25"
      >
        <DropImage @image-change="handleImage" />
      </div>
    </div>

    <div class="mt-6 flex items-center justify-end gap-x-6">
      <button
        type="button"
        class="text-sm font-semibold leading-6 text-gray-900"
      >
        Cancel
      </button>
      <button
        type="submit"
        class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
      >
        Save
      </button>
    </div>
  </form>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import DropImage from "@/components/DropImage.vue";
import { ProductFormInt, ProductCategory } from "@/interfaces/product";

export default defineComponent({
  name: "ProductForm",
  components: { DropImage },
  emits: ["submit"],
  setup(_, context) {
    const title = ref("");
    const price = ref(0);
    const category = ref<ProductCategory>("men's clothing");
    const description = ref("");
    const image = ref("");

    const handleImage = (e: string) => {
      image.value = e;
    };

    const handleSubmit = (e: Event) => {
      e.preventDefault();

      const product: ProductFormInt = {
        title: title.value,
        price: price.value,
        description: description.value,
        category: category.value,
        image: image.value,
      };

      context.emit("submit", product);
    };

    return {
      title,
      price,
      category,
      description,
      image,
      handleSubmit,
      handleImage,
    };
  },
});
</script>
