<template>
  <div>
    <ul class="mt-4 px-8 flex flex-col gap-y-8 text-center justify-evenly">
      <li v-for="product in products.slice().reverse()" :key="product.id">
        <ProductItem :product="product" />
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import ProductItem from "./ProductItem.vue";

export default defineComponent({
  name: "ProductList",
  components: {
    ProductItem,
  },
  props: ["products"],
});
</script>
