<template>
  <div
    class="flex flex-col items-center lg:items-start lg:flex-row gap-x-8 gap-4 p-4 max-h-fit rounded shadow-xl hover:border hover:border-slate-400 transition-all duration-300 ease-in-out"
  >
    <div class="flex size-64 bg-slate-200 rounded shadow-inner">
      <img
        :src="product.image"
        :alt="product.title"
        class="max-h-full max-w-full self-center m-auto"
      />
    </div>
    <div
      class="flex flex-col w-full lg:flex-col lg:flex-grow text-left lg:w-1/2"
    >
      <h2 class="text-xl font-bold text-ellipsis border-b-4 pb-2">
        {{ product.title }}
      </h2>
      <div class="flex flex-col lg:flex-row lg:flex-grow">
        <div
          class="flex flex-col w-full items-center lg:items-start lg:w-max mb-4 lg:mb-0"
        >
          <ProductCategoryTag :category="product.category" />
          <div class="flex-grow"></div>
          <p class="text-center w-full mb-2">
            {{ product.rating.rate }}
            <font-awesome-icon icon="star" /> |
            {{ product.rating.count }}
            <font-awesome-icon icon="thumbs-up" />
          </p>
          <div class="p-2 text-2xl text-center font-bold border-2 w-full">
            ${{ product.price }}
          </div>
        </div>
        <p
          class="w-full ml-0 lg:ml-4 p-4 bg-slate-100 text-justify rounded-2 break-words"
        >
          {{ product.description }}
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import ProductCategoryTag from "./ProductCategoryTag.vue";

export default defineComponent({
  name: "ProductItem",
  components: { ProductCategoryTag },
  props: ["product"],
});
</script>
