<template>
  <div class="bg-white p-2">
    <div class="py-2 px-8 mb-8 flex justify-between">
      <h1 class="text-left text-4xl font-bold flex">Add Product Form</h1>
    </div>
    <ProductForm @submit="handleSubmit" />
  </div>
</template>

<script lang="ts">
import { defineComponent, onBeforeMount, computed } from "vue";
import { useProductStore } from "@/store/product";
import { useGlobalStore } from "@/store/global";
import ProductForm from "@/components/Product/ProductForm.vue";
import { Product, ProductFormInt } from "@/interfaces/product";
import { useRouter } from "vue-router";

export default defineComponent({
  name: "ProductAdd",
  components: { ProductForm },
  setup() {
    const productStore = useProductStore();
    const globalStore = useGlobalStore();
    const router = useRouter();

    const lastId = computed(() => {
      return productStore.lastId;
    });

    onBeforeMount(() => {
      productStore.fetchProducts();
    });

    const handleSubmit = (product: ProductFormInt) => {
      const payload: Product = {
        id: lastId.value + 1,
        rating: {
          rate: 0,
          count: 0,
        },
        ...product,
      };

      productStore.addProduct(payload);
      globalStore.setIsLoading(true);

      setTimeout(() => {
        globalStore.setIsLoading(false);
        router.push("/");
      }, 500);
    };

    return {
      handleSubmit,
    };
  },
});
</script>
