<template>
  <div class="bg-white p-2">
    <div class="py-2 px-8 flex justify-between">
      <h1 class="text-left text-4xl font-bold flex">Product View</h1>
      <router-link
        class="bg-blue-500 font-semibold rounded-full text-white px-8 py-2"
        to="/add"
      >
        <font-awesome-icon icon="plus" />
        Add Product
      </router-link>
    </div>
    <ProductList :products="products" />
  </div>
</template>

<script lang="ts">
import { defineComponent, onBeforeMount, computed } from "vue";
import ProductList from "@/components/Product/ProductList.vue";
import { useProductStore } from "@/store/product";

export default defineComponent({
  name: "ProductView",
  components: {
    ProductList,
  },
  setup() {
    const productStore = useProductStore();
    const products = computed(() => {
      return productStore.getProducts;
    });

    onBeforeMount(() => {
      productStore.fetchProducts();
    });

    return {
      products,
    };
  },
});
</script>
