<template>
  <div
    @click="chooseImage"
    :class="`px-6 py-10 text-center  w-full h-full ${
      imageData ? '' : 'cursor-pointer'
    }`"
  >
    <div v-if="imageData">
      <img :src="imageData" alt="uploaded pict" />
    </div>
    <div v-else>
      <svg
        class="mx-auto h-12 w-12 text-gray-300"
        viewBox="0 0 24 24"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z"
          clip-rule="evenodd"
        />
      </svg>
      <div class="mt-4 flex text-sm justify-center leading-6 text-gray-600">
        <label
          for="file-upload"
          class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500"
        >
          <span>Upload a file</span>
          <input
            @change="handleUpload"
            id="file-upload"
            name="file-upload"
            accept="image/jpeg, image/png"
            type="file"
            ref="imageInput"
            class="sr-only"
          />
        </label>
      </div>
      <p class="text-xs leading-5 text-gray-600">PNG, JPG, GIF ssup to 10MB</p>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, watch } from "vue";
export default defineComponent({
  name: "DropImage",
  emits: ["imageChange"],
  setup(props, ctx) {
    const imageData = ref<string>();
    const imageInput = ref<HTMLInputElement>();

    const chooseImage = () => {
      if (!imageData.value && imageInput.value) {
        imageInput.value.click();
      }
    };

    const handleUpload = (e: Event) => {
      const files = (e.target as HTMLInputElement).files;
      if (!files?.length) {
        return;
      }
      createImage(files[0]);
    };

    const createImage = (file: Blob) => {
      const reader = new FileReader();

      reader.onload = () => {
        imageData.value = reader.result as string;
      };
      reader.readAsDataURL(file);
    };

    watch(imageData, () => {
      ctx.emit("imageChange", imageData.value);
    });

    return {
      imageData,
      imageInput,
      handleUpload,
      chooseImage,
    };
  },
});
</script>
