<template>
  <header class="bg-white">
    <div class="container px-4">
      <router-link class="logo" to="/">
        <img alt="Vue logo" src="../assets/logo.png" width="50" height="50" />
        <h1 class="hidden sm:block">Interview Project</h1>
      </router-link>
      <nav class="p-4">
        <router-link to="/">Product</router-link>
      </nav>
    </div>
  </header>
</template>

<style lang="scss">
header .container {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;

  .logo {
    display: flex;
    align-items: center;

    h1 {
      font-weight: 900;
      color: #42b983;
      margin-left: 20px;
      font-size: 36px;
    }
  }

  nav a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
