<script setup>
import HeaderComponent from "@/components/HeaderComponent.vue";
import LoadingScreen from "@/components/LoadingScreen.vue";
import { useGlobalStore } from "@/store/global";
import { computed } from "vue";

const globalStore = useGlobalStore();

const isLoading = computed(() => {
  return globalStore.isLoading;
});
</script>

<template>
  <LoadingScreen :is-loading="isLoading" />
  <HeaderComponent />
  <div class="container">
    <router-view />
  </div>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background-color: whitesmoke;
  height: 100vh;
}

.container {
  margin: auto;
}
</style>
